body{
margin: 0px;
padding: 0px;
background-color: rgb(255, 240, 157);
}

#icon{
    width: 62px;
    height: 62px;
    padding-right: 10px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(248, 222, 71);
    color: rgb(1, 143, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links{
    padding-right: 10px;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
}
.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(0, 0%, 99%);
    background-color: rgb(87, 145, 53);
    border: 4px solid white;
    border-radius: 5px;
}
.img_noticia{
    width: 300px;
    height: 200px;
}

#escalacao{
    background-color: rgb(101, 202, 75);
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px;
    border: 4px solid white;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(252, 229, 28);
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;

    
}
.escalacoes{
display: flex;
align-items: center;
}

#nome_escalacao{
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(252, 229, 28);
}

.img_escalacao{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    #mascote{
        right: 0px;
        bottom: -10px;
        position: fixed;
        width: 100px;
        height: 100px;
    }

    footer{
        text-align: center;
        background-color: rgb(164, 233, 99);
        padding: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(41, 173, 36);
        margin-top: 8px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
    }