body{
margin: 0px;
padding: 0px;
background-color: rgb(255, 240, 157);
}

#icon{
    width: 62px;
    height: 62px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(240, 219, 100);
    color: rgb(1, 143, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}