body{
margin: 0px;
padding: 0px;
background-color: rgb(255, 240, 157);
}

#icon{
    width: 62px;
    height: 62px;
    padding-right: 10px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(248, 222, 71);
    color: rgb(1, 143, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links{
    padding-right: 10px;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
}
.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(0, 0%, 99%);
    background-color: rgb(87, 145, 53);
    border: 4px solid white;
    border-radius: 15px;
}
.img_noticia{
    width: 400px;
    height: 300px;
}

#escalacao{
    background-color: rgb(121, 184, 105);
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: 4px solid white;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.img_escalacao{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}